.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

#container-mydata {
  margin: 21px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#container-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#text-register{
  font-family: Forza;
  font-size: 13px;
  color: #9F9F9F;
}
#text-register-2{
  font-family: Forza;
  font-size: 10px;
  color:#ED1C24

}
#container-pic{
  width: 328px;
height: 116px;
border: 1px solid #9F9F9F;
display: flex;
align-items: center;
flex-direction: row;
}
#pic{
  border: 1px solid #9F9F9F;
  border-radius: 100px;
  width: 90px;
  height: 90px;
  margin-left: 20px;
}
#change-pic{
  color:#ED1C24;
  font-family:forza;
  font-size: 13px;
  margin-left:20px;
  font-weight: bold;
  text-decoration: underline;
}
#tittle-mydata {
  font-size: 24px;
  color: #ED1C24;
  font-weight: bold;
  font-family: Forza;
}

#edit-mydata {
  font-size: 13px;
  margin-right: 20px;
}

.description-form {
  font-size: 13px;
  font-family: forza;
  font-weight: bold;
  margin-bottom: 3px;
}

.input-form-mydata {
  width: 90%;
  height: 40px;
  left: 32px;
  top: 249px;
  padding: 8px;
  margin-bottom: 5px;
  border: 0px;
  border: 1px solid #9F9F9F;
  border-radius: 6px;
  font-family: forza;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #9F9F9F;
}
#experience{
  width: 50px;
  height: 40px;
  left: 32px;
  top: 249px;
  padding: 8px;
  border: 0px;
  border: 1px solid #9F9F9F;
  border-radius: 6px;

  font-family: forza;
  font-weight: 350;
  font-size: 13px;
  line-height: 18px;
  color: #9F9F9F;
}
#container-experience{
  display:flex;
  flex-direction: row;
  align-items: center;
}
#years-experience{
  margin-left: 9px;
  margin-top:15px;
  font-size: 12px;
  font-family: 'Forza';
}


.divUploadedImg::before {
  color: black;
  content: 's'; /* texto por defecto */
  position: absolute;
}
.divUploadedImg input[type='file'] {
  opacity: 0;
  width: 100%;
}

#check-terms{
  display:flex;
  flex-direction: row;
  align-items: center;
  font-family: forza;
}
#text-terms{
  margin-left: 10px;
  margin-top: 25px;
  font-size: 12px;
  display:flex;
  flex-direction: row;
}
.group-radio-button{
  display:flex;
  flex-direction: row;
  font-family: forza;
  font-weight: normal;
  margin-bottom: 5px;
}
.options{
  font-size: 13px;
}
#container-button-update{
  display:flex;
  justify-content: flex-end;
}
#button-update{
  background: #ED1C24;
  border: 0px;
  font-family: Forza;
  font-size: 13px;
  color:white;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 14px;
}
#container-galery{
  display:flex;
  align-items: center;
}
.form-select{
  font-family: Forza;
  font-weight: normal;
  color: #9F9F9F;
  font-size: 13px;
}
.form-control{
  font-family: Forza;
  font-weight: normal;
  color: #9F9F9F;
  font-size: 13px;
}
.oportunities{
  font-family: Forza;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 5px;
}
#terms-red{
  color:#ED1C24;
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  #container-mydata{
margin-left: 250px;
margin-right: 250px;
  }
#container-form-first{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}
.input-form-mydata{
width: 300px;
margin-right: 10px;
}
#container-form-secondary{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}
#zone-work{
  width: 300px;
}
.form-control{
  width: 259px;
}
.form-select{
  width: 301px;
}
#container-experience{
  margin-right: 130px;
}
#text-register{
  width: 350px;
}
}
.selectContainer{
  width:300px;
  border:1.5px solid gray;
  border-radius:7px;
  padding:0px 2px;
  margin:20px 0;
}
#optionp{
  text-decoration: none;
  display: flex !important;
  align-items:center;
  font-family: 'Rubik', sans-serif;
  width:100%;
  padding:1% 0% 1%;
  background-color: white;
  color:black

}
.div-uploader input[type='file'] {
  opacity: 0;
  width: 30px;
  position: absolute;
  z-index: 3;
}
.div-uploader::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width:20px;
  z-index: 1;
}
