<h2 id="tittle-wsp" mat-dialog-title>Enviar Whatssap<hr></h2>
<div id="contenido-wsp">
<div mat-dialog-content>
  <p>Para continuar:</p>
</div>
<div id="container-terms">
<input
type="checkbox"
  class="example-margin"
  #saveCheckboxOne
  (change)="(saveCheckboxOne.checked)"
>
<div>  Acepto los <a id="color" href="url">Términos y Condiciones</a> </div>
</div>
</div>
<div mat-dialog-actions>
  <button class="btns" mat-raised-button mat-dialog-close>Cancelar</button>
  <a class="btns" mat-raised-button mat-dialog-close [disabled]="!saveCheckboxOne.checked" href="https://api.whatsapp.com/send?phone={{data.phone}}&text=Hola {{data.name}} vi tu perfil laboral en ConstruyeXperto y me gustaría contactarte." target="_blank">Iniciar chat</a>
</div>
