*{
    color:black;
    font-family: forza;
}
#tittle-wsp{
    text-align: center;
}
#contenido-wsp{
    color:#636466;
    font-size: 12px;
    border-color:#636466
    
}
.btns{
    background-color: white;
    border-radius: 5px;
}
#container-terms{
    display:flex;
    flex-direction: row;
}
#color{
color:red
}