*{
  margin: 0;
  box-sizing: border-box;

}
.containerNav{
width: 100vw;
}
#exit{
  color:#EC1D24;
  margin-left:11px;
  margin-top: 10px;
}
.containerOportunities{
  color:black;
  font-family: forza;
  margin-top:60px;
  margin-left: 200px;
  margin-right: 200px;
}
.text-oportunity{
  color:black;
}
#header{
  font-size: 13px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.item{
  display:flex;
  flex-direction: row;
  margin:5px;
  margin-left: 10px;
}
.item>p{
  margin-left: 9px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: black;
  width: 100%;
  color:white;
  padding:10px;
}

.logoNav {
  display: none;
}

a {
  text-decoration: none;
  font-size: 70%;
  white-space: normal;
  font-family: Forza;
  text-align: center;
  color:white;
}

.optionsNavBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initSesion {
  display: none;
}

@media only screen and (min-width: 820px) {
  /* For desktop: */
  .logoNav {
      display: flex;
      width: 130px;
  }
  .nextOptionNavBar {
      display: none;
  }
  a {
    text-decoration: none;
    font-size: 50%;
    white-space: normal;
    font-family: Forza;
    text-align: center;
    line-height: 1.5;
    padding: 0%;
}

  .initSesion {
      display: flex;
      background-color: #EC1D24;
      border-radius: 40px;
      text-align: center;
      font-size: 9px;
      width:fit-content;
      width: 150px;
  }
  .iconExpert{
      display: none;
  }
}
.containerOportunities{
  color:black;
  font-family: forza;
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}
main{
  background-color: #EC1D24;
  width: 100%;
  height: 100%;
}
