
<header class="containerNav">
  <mat-toolbar>
      <span><img class="logoNav" src="https://i.postimg.cc/HnwhTt7s/logo-Principal.png"/></span>
      <span><img class="nextOptionNavBar" src="https://i.postimg.cc/yxZqmts2/back.png"/></span>
      <span class="example-spacer"></span>
      <div class="optionsNavBar" fxShow="true" fxHide.lt-md="true" *ngFor="let data of navData">
          <a mat-button routerLink="/">{{data.nav}}</a>
      </div>
      <button class="initSesion" mat-button (click)="openDialog('0ms', '0ms')">INICIAR SESIÓN</button>
      <span (click)="openDialog('0ms', '0ms')"><img class="iconExpert" src="https://i.postimg.cc/jjSzkJC4/icon-Expert.png"/></span>
  </mat-toolbar>
</header>
<div class="containerOportunities">
  <h1>Hola, Luis Angello</h1>
  <p>Aquí podrás actualizar tu información registrada</p>
  <ul>
    <li>
      <a mat-list-item routerLink="aliado" >
        <mat-icon>person_add_alt</mat-icon> AliadoPacasmayo
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="cotizations" >
        <mat-icon>person_add_alt</mat-icon> Mis cotizaciones
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="goal" >
        <mat-icon>person_add_alt</mat-icon> Mis logros
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="cla" >
        <mat-icon>person_add_alt</mat-icon> Mis clases en vivo
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="resum" >
        <mat-icon>person_add_alt</mat-icon> Resumenes por clase
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="actualizar" >
        <mat-icon>person_add_alt</mat-icon> Mis datos
      </a>
    </li>

    <li>
      <a mat-list-item routerLink="message" >
        <mat-icon>person_add_alt</mat-icon> Mis oportunidades
      </a>
    </li>
  </ul>

    <a mat-list-item [routerLink]="['/']">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión
    </a>

</div>

