<mat-drawer-container class="create-container" autosize>
  <div class ="container-maps-filter">
    <div class="btn-group containerbtnFilter" role="group" aria-label="Basic mixed styles example">
      <div *ngIf=openAlert id="alertId">
        <div class="alert alert-dark"  role="alert">
          ¿Autorizas compartir tu ubicación?
          <div class="btn-alert ">
            <button class="btn btn-dark" (click)="addUbicationCurrently()" >Si</button>
            <button class="btn btn-danger"  (click)="addUbicationDefault()">No</button>
          </div>
        </div>
      </div>
    </div >


    <div class="containerMap">
      <app-maps></app-maps>
    </div>

    <div class="footerOptions">
      <div>
        <p class="text-footer">Piura - Piura - Piura</p>
      </div>
      <hr id="hr">
      <div>
        <p class="text-footer">Encontramos 50 Maestros de Obra en esta zona</p>
        <div class="container-change-ubication">
          <h4 id="change-pic">Cambia la ubicación</h4>
          <button type="button" class="btn btn-danger" (click)="drawer.toggle()">Ver listado</button>
        </div>
      </div>
    </div>

  </div>

<!--   //  maestros de Obra -->
  <mat-drawer #drawer class="create-sidenav" mode="side"  opened="false" position="end">
    <app-masterbuilders></app-masterbuilders>
  </mat-drawer>

</mat-drawer-container>

