<h2 mat-dialog-title>Enviar mensaje</h2>
<div mat-dialog-content>
  <p>Deja tus datos para que {{ data }} se contacte contigo</p>
</div>
<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
  <mat-form-field appearance="legacy">
    <mat-label>Nombre:</mat-label>
    <input formControlName="name" matInput placeholder="Nombre" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="legacy">
    <mat-label>Correo:</mat-label>
    <input formControlName="correo" matInput placeholder="Correo" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="legacy">
    <mat-label>Celular:</mat-label>
    <input formControlName="phone" matInput placeholder="Celular" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="legacy">
    <mat-label>Mensaje:</mat-label>
    <input formControlName="message" matInput placeholder="ensaje" />
  </mat-form-field>
  <br />
</form>
<mat-checkbox
  class="example-margin"
  #saveCheckboxOne
  (change)="(saveCheckboxOne.checked)"
>
  Acepto los <a href="url">Términos y Condiciones</a>
</mat-checkbox>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <input
  type="submit"
    mat-raised-button
    mat-dialog-close
    [disabled]="!saveCheckboxOne.checked"
    value="Enviar Mensaje"
  >
</div>
