<h2 id="tittle" mat-dialog-title>Enviar mensaje <hr id="linea1"> </h2>
<div mat-dialog-content>
  <p class="text">Deja tus datos para que {{ data }} se contacte contigo</p> 
</div>
<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
  <div class="form-group">
    <label for="validationEmail" class="form-label mt-2"> Nombre </label>
    <input
      type="Nombre"
      class="form-control"
      formControlName="name"
      id="validationName"
      placeholder="Ingresa tu nombre" />
    <div
      class="text"
      *ngIf="
      emailForm.get('name')?.hasError('required') &&
      emailForm.get('name')?.touched
      ">
      <span>El nombre <strong> es obligatorio.</strong></span>
    </div>
  </div>
  <div class="form-group">
    <label for="validationEmail" class="form-label mt-2"> Correo </label>
    <input
      type="correo"
      class="form-control"
      formControlName="correo"
      id="validationCorreo"
      placeholder="Ingresa tu nombre" />
    <div
      class="text"
      *ngIf="
      emailForm.get('correo')?.hasError('required') &&
      emailForm.get('correo')?.touched
      ">
      <span>El correo <strong> es obligatorio.</strong></span>
    </div>
  </div>
  <div class="form-group">
    <label for="validationEmail" class="form-label mt-2"> Celular </label>
    <input
      type="phone"
      class="form-control"
      formControlName="phone"
      id="validatioPhone"
      placeholder="Ingresa tu celular" />
    <div
      class="text"
      *ngIf="
      emailForm.get('phone')?.hasError('required') &&
      emailForm.get('phone')?.touched
      ">
      <span>El correo <strong> es obligatorio.</strong></span>
    </div>
  </div>
  <div class="form-group">
    <label for="validationEmail" class="form-label mt-2"> Mensaje </label>
    <input
      type="message"
      class="form-control"
      formControlName="message"
      id="validationMessage"
      placeholder="Ingresa tu mensaje" />
    <div
      class="text"
      *ngIf="
      emailForm.get('message')?.hasError('required') &&
      emailForm.get('message')?.touched
      ">
      <span>El correo <strong> es obligatorio.</strong></span>
    </div>
  </div>
  <mat-checkbox
  class="example-margin"
  #saveCheckboxOne
  (change)="(saveCheckboxOne.checked)"
>
<div>  Acepto los <a id="color" href="url">Términos y Condiciones</a> </div>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <input
  type="submit"
    mat-raised-button
    mat-dialog-close
    [disabled]="!saveCheckboxOne.checked"
    value="Enviar Mensaje"
  >
</div>

