<h2 id="tittle" mat-dialog-title>Enviar mensaje <hr id="linea1"> </h2>
<div mat-dialog-content>
  <p class="text">Deja tus datos para que {{ data }} se contacte contigo</p> 
</div>

<mat-form-field appearance="legacy">
  <mat-label class="text2">Nombre:*</mat-label>
  <input class="text" matInput placeholder="Nombre" />
</mat-form-field>

<div class="line"></div>

<mat-form-field appearance="legacy">
  <mat-label class="text2" >Correo:*</mat-label>
  <input class="text" matInput placeholder="Correo" />
</mat-form-field>

<div class="line"></div>
<mat-form-field appearance="legacy">
  <mat-label class="text2">Celular:*</mat-label>
  <input class="text" matInput placeholder="Celular" />
</mat-form-field>

<div class="line"></div>

<mat-form-field appearance="legacy">
  <mat-label class="text2">Mensaje:*</mat-label>
  <input class="text" matInput placeholder="ensaje" />
</mat-form-field>

<div class="text" id="container-terms">
<input
type="checkbox"
  class="example-margin"
  #saveCheckboxOne
  (change)="(saveCheckboxOne.checked)"
>
<div>  Acepto los <a id="color" href="url">Términos y Condiciones</a> </div>
</div>
<div mat-dialog-actions>
  <button class="btns" mat-raised-button mat-dialog-close>Cancelar</button>
  <button class="btns" mat-raised-button mat-dialog-close [disabled]="!saveCheckboxOne.checked">
    Enviar Mensaje
  </button>
</div>
