
<button type="button" class="btn btn-light"><i class="bi bi-arrow-left"></i>Volver al listado</button>

<div class="card" *ngFor="let workers of workerFilter" style="width: 18rem">
  <div class="card-body">
    <img
      src="{{ workers.url_photo }}"
      class="card-img-top imgProfile"
      alt="..."
    />
    <h5 class="card-title">{{ workers.names }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ workers.ocupation }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ workers.experience }} años de experiencia
    </h6>
    <h5 class="card-title">Especializado en:</h5>
    <span
      class="badge text-bg-info"
      *ngFor="let especialidad of workers.especialidad"
      >{{ especialidad }}</span
    >
    <h5 class="card-title">Certificados:</h5>
    <ul>
      <li *ngFor="let  certificado of workers.certificados">{{ certificado }}</li>
    </ul>
    <h5 class="card-title">Zonas de Trabajo:</h5>
    <span
      class="badge text-bg-info"
      *ngFor="let area of workers.areaWorker"
      >{{ area }}</span
    >
    <h5 class="card-title">Galería(obras o proyectos):</h5>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let projects of workers.url_projects">
            <img src="{{ projects }}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5 class="card-title">Contactar:</h5>
      <button (click)="openDialogWhatssap(workers.cellphone,workers.names)" class="btn btn-danger">Whatssap</button>
      <button (click)="openDialogMensage(workers.names)" class="btn btn-danger">Mensaje</button>
    </li>
  </ul>
</div>
