* {
  color:black
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: forza;
}
#tittle{
  font-family: forza;
 color: #29384C;
 font-size: 16px;
 margin-bottom: -6px;

}
#hr{
  border-color: #29384C;
  margin: 0;
  padding: 0;

}
.selectContainer{
  width:300px;
  border:1.5px solid gray;
  border-radius:7px;
  padding:0px 2px;
  margin:20px 0;
}
#optionp{
  text-decoration: none;
  display: flex !important;
  align-items:center;
  font-family: 'Rubik', sans-serif;
  width:100%;
  padding:1% 0% 1%;
  background-color: #F4F4F4;
  color:black;
  font-size: 13px;
  font-family: forza;
  margin:0px;

}
.titleModal{
  color:black
}
.mat-dialog-actions button{
background-color: brown;
}
