<h2 mat-dialog-bg-orange-title >Iniciar sesión</h2>
<h3 mat-dialog-bg-black-subheading-2>Estás punto de acceder a todo nuestro contenido de manera gratuita</h3>

<form (ngSubmit)="submit()" [formGroup]="dataUser">
<mat-form-field>
    <input matInput placeholder="@   Ingresa tu correo">
    <input matInput placeholder="******">
</mat-form-field>

<div mat-dialog-actions>
    <button mat-raised-button type="button">Ingresar</button>
    <h3 mat-dialog-bg-black-subheading-2>¿Aún no estas registrado?<a href="/" class="register">Registrate aquí</a></h3>
</div>
</form>

