<button type="button" class="btn btn-light">Buscar Ubicación</button>
<hr>
<button type="button" class="btn btn-outline-dark"><i class="bi bi-filter"></i>Filtrar</button>
<button type="button" class="btn btn-outline-dark">Ordenar por <i class="bi bi-caret-down"></i></button>
<h5>Ubicación: <span>Piura-Piura-Pira</span></h5>
<h5>Resultado: <span>50 Maestros de Obra</span></h5>

<div class="card" *ngFor="let workers of workersData" style="width: 18rem;">
    <div class="card-body">
      <img src="{{workers.url_photo}}" class="card-img-top imgProfile" alt="...">
      <h5 class="card-title">{{workers.names}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{workers.ocupation}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{workers.experience}} años de experiencia</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{[workers.certificados.length]}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{[workers.areaWorker.length]}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{[workers.url_projects.length]}}</h6>
      <h5 class="card-title">Especializado en:</h5>
      <span class="badge text-bg-info" *ngFor="let especialidad of workers.especialidad" >{{especialidad}}</span>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a class="btn btn-danger" (click)="navigation(workers.id)">Ver perfil laboral</a>
        </li>
      </ul>
</div>
