<section id="container">
  <div>
    <button type="button" class="btn btn-light search-ubication">
      Buscar Ubicación
    </button>
    <hr id="line" />
    <div id="container-buttons">
      <button id="button-filter" type="button" class="btn btn-outline-dark">
        <i class="bi bi-filter"></i>Filtrar
      </button>
      <button id="button-class" type="button" class="btn btn-outline-dark">
        Ordenar por <i class="bi bi-caret-down"></i>
      </button>
    </div>
    <div id="container-ubication-result">
      <h5 id="ubication">Ubicación: <span>Piura-Piura-Pira</span></h5>
      <h5 id="result">Resultado: <span>50 Maestros de Obra</span></h5>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <div id="card-info-basic">
          <img
            src="https://elcomercio.pe/resizer/TTo07zu8iyH7KDw1S800rfvWhsQ=/580x330/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/PADOSPZKWVGANF5ER6IM37ROGE.jpg"
            class="card-img-top imgProfile"
            alt="..."
          />
          <div id="info-general">
            <h5 id="card-name" class="card-title">Carlos Zurita</h5>
            <h6 id="ocupation" class="card-subtitle mb-2 text-muted">
              Maestro de Obra
            </h6>
            <h6 id="experience" class="card-subtitle mb-2 text-muted">
              5 años de experiencia
            </h6>
            <div id="more-info">
              <div id="certificates">
                <img
                  class="img-more-info"
                  src="https://drive.google.com/file/d/1NEiBlpQDf7rZ4fn0Nco9bs-qhWwU7M8h/view?usp=sharing"
                />
                <h4 class="text-more-info">(8)</h4>
              </div>
              <div id="location">
                <img class="img-more-info" src="https://drive.google.com/file/d/15Rsoo4CajXPgWaeg-bN_bmkKNu-eH2WM/view?usp=sharing">
                <h4 class="text-more-info"> (5) </h4>
              </div>
              <div id="galery">
                <img class="img-more-info" src="https://drive.google.com/file/d/1Xc7sUOSlGRVVrEj8FMQqfD1_k2g22l4Y/view?usp=sharing">
                <h4 class="text-more-info"> (9)</h4>
              </div>
            </div>
          </div>
        </div>
        <h5 id="specialization" class="card-title">Especializado en:</h5>
        <span class="items badge text-bg-info">Acabados</span>
        <span class="items badge text-bg-info">Electricidad</span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="#" class="btn btn-danger">Ver perfil laboral</a>
        </li>
      </ul>
    </div>
  </div>
</section>
