@font-face {
  font-family: 'Forza';
  src: local('Forza Bold'), local('Forza-Bold'),
      url('src/assets/fonts/Forza-Bold.woff2') format('woff2'),
      url('src/assets/fonts/Forza-Bold.woff') format('woff'),
      url('src/assets/fonts/Forza-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
};

@font-face {
  font-family: 'Forza';
  src: local('Forza Medium'), local('Forza-Medium'),
      url('src/assets/fonts/Forza-Medium.woff2') format('woff2'),
      url('src/assets/fonts/Forza-Medium.woff') format('woff'),
      url('src/assets/fonts/Forza-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Forza';
  src: local('Forza Book'), local('Forza-Book'),
      url('src/assets/fonts/Forza-Book.woff2') format('woff2'),
      url('src/assets/fonts/Forza-Book.woff') format('woff'),
      url('src/assets/fonts/Forza-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: book;
}

html, body { height: 100%; }
body { margin: 0; font-family: Forza, "Helvetica Neue", sans-serif; }

