/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Forza';
  src: local('Forza Bold'), local('Forza-Bold'),
      url('src/assets/fonts/Forza-Bold.woff2') format('woff2'),
      url('src/assets/fonts/Forza-Bold.woff') format('woff'),
      url('src/assets/fonts/Forza-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
